@media screen and (min-width: 300px) {
  .home {
    background: black;
    color: white;
    /* position: absolute;
    width: 100%;
    height: 100%; */
  }

  h1 {
    text-align: center;
    font-family: monospace;
  }

  .bio {
    text-align: center;
    font-family: monospace;
  }
}
