@media screen and (min-width: 300px) {
  .folder {
    background: black;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .title {
    text-align: center;
  }

  .h2 {
    text-align: center;
  }

  .socials {
    text-align: center;
  }
}
